  @import "tailwindcss";

  :root {
    --background: #fafafa;
    --foreground: #333333;
    --color-primary: #2563eb;
    --color-secondary: #777777;
    --color-accent: #178DEE;
    --color-danger: #F64A4A;
    --color-success: #3EA774;
    --color-custom: #E5E7EB;
    --color-accent-hover: #1277C5;
    --color-processing: #4F46E5;
    --color-car-plates: #2C3D52;
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-accent: var(--color-accent);
    --color-danger: var(--color-danger);
    --color-success: var(--color-success);
    --color-custom: var(--color-custom);
    --color-accent-hover: var(--color-accent-hover);
    --color-processing: var(--color-processing);
    --color-car-plates: var(--color-car-plates);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

  .btn-primary {
    @apply text-white bg-primary px-8 py-4 hover:bg-accent-hover cursor-pointer w-fit h-fit rounded-md text-nowrap
  }

  .btn-success {
    @apply text-white bg-success px-8 py-4 hover:bg-accent-hover cursor-pointer w-fit h-fit rounded-md text-nowrap
  }

  .btn-danger {
    @apply text-white bg-danger px-8 py-4 hover:bg-accent-hover cursor-pointer w-fit h-fit rounded-md text-nowrap
  }

  .btn-processing {
    @apply text-white bg-primary opacity-70 px-8 py-4 cursor-not-allowed flex w-fit h-fit rounded-md text-nowrap
  }
  .btn-active {
    @apply bg-transparent px-8 py-4 text-custom border border-custom rounded-md hover:border-accent hover:text-accent
  }

  .btn.active {
    @apply text-accent border-accent
  }

  .contract-input-field {
    @apply border border-custom rounded-md pl-2 py-2 outline-accent
  }

  label span {
    @apply mb-1.5
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #777777 transparent transparent transparent;
  }